{% extends 'storeapp/base.html' %}
<!-- Header-->
{% load static %}
{% block content %}
<main>


  <slide class="advt">
    <div class="slide">
    </div>
  </slide>
  <section class="prdt1">
    <div class="container">
      <div class="row">
        {% for product in flash_sales %}
        <div class="col-1-of-5">
          <div class="card flx-drt wdth">
            <a href="{% url 'detail' product.slug %}" style="align-self:center; cursor:pointer">
              <div class="card_img">
                <img src="{{product.image_url.url}}" alt="slide1">
              </div>
            </a>
            <div class="card_priced pd-l">
              <div class="card_price-title">
                <h5>{{product.name}}</h5>
              </div>
              <p> A Lemon flavoured soft drink which contains Dextrin.</p>
              <div class="card_priced-r">
                <!-- <h5>3500+ Sold</h5>
                            <div class="span">
                                4.0
                                <svg>
                                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                                </svg>
                                <svg>
                                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                                </svg>
                                <svg>
                                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                                </svg>
                                <svg>
                                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                                </svg>
                            </div> -->
              </div>
              <span class="algn">${{ product.price|floatformat:2 }}</span>
              <small style="display:flex">
                <p style="padding-right:0.5rem; text-decoration: line-through; "> $2 </p>
                <p>(-15%)</p>

              </small>
              <div class="card_priced-cart">

                <a class="btn-w" href="#">
                  Add to Cart
                </a>
                <a class="btn-bc" href="#">
                  Buy now
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <section class="col">
    <div class="container">
      <div class="row align">
        <h3>Our Shop Collections</h3>
      </div>
    </div>
    <div class="col-itm">
      <div class="col-itm-1">
        <div class="col-itm-txt">
          <h3>Beer Shop</h3>
        </div>
      </div>
      <div class="col-itm-2">
        <div class="col-itm-txt">
          <h3>Beverage shop</h3>
        </div>
      </div>
      <div class="col-itm-3">
        <div class="col-itm-txt">
          <h3>Spirit Shop</h3>
        </div>
      </div>
      <div class="col-itm-4">
        <div class="col-itm-txt">
          <h3>Wine shop</h3>
        </div>
      </div>
      <!-- <div class="col-itm-5">
                    <div class="col-itm-txt">
                        <h3>Other Food items</h3>
                    </div>
                </div> -->
    </div>
  </section>

  <section class="bel5">

    <div class="row mg-0">
      <h3>Drinks under $7</h3>

    </div>
    <hr>




    <div class="wrapper">
      <i id="left">
        <svg class="test-icon">
          <use xlink:href="/static/img/sprite.svg#arrow-point-left"></use>
        </svg>
      </i>

      <ul class="carousel">
        {% for product in products %}
        <li class="card-1">
          <div class="img">

            <a href="{% url 'detail' product.slug %}"><img src="{{product.image_url.url}}" alt="C.C. Lemon.png"
                draggable="false"></a>


          </div>
        </li>
        {% endfor %}

      </ul>
      <i id="right">
        <svg class="test-icon">
          <use xlink:href="/static/img/sprite3.svg#arrow_right"></use>

        </svg>
      </i>
    </div>





  </section>

  <section class="double">
    <div class="container">
      <div class="row align">
        <h3>Deals You Can't Miss</h3>
      </div>
    </div>

    <div class="pos">



      <div class="dflx align">
        {% for product in top_deals %}

        <div class="col-1-of-6 align">
          <div class="card flx-drt wdth">
            <div class="card_img">
              <a href="{% url 'detail' product.slug %}"><img src="{{product.image_url.url}}" alt="slide1"></a>
            </div>
            <div class="card_priced pd-l">
              <div class="card_price-title">
                <h5>{{product.name}}</h5>
              </div>
              <p> A Lemon flavoured soft drink which contains Dextrin.</p>
              <div class="card_priced-r">
                <h5>3500+ Sold</h5>
                <div class="span">
                  4.0
                  <svg>
                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                  </svg>
                  <svg>
                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                  </svg>
                  <svg>
                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                  </svg>
                  <svg>
                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                  </svg>
                </div>
              </div>
              <span class="algn">${{ product.price|floatformat:2 }}</span>
              <small style="display:flex">
                <p style="padding-right:0.5rem; text-decoration: line-through; "> $2 </p>
                <p>(-15%)</p>

              </small>
              <div class="card_priced-cart">

                <a class="btn-w" href="#">
                  Add to Cart
                </a>
                <a class="btn-bc" href="#">
                  Buy now
                </a>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>





    </div>


  </section>
  <section class="rltd">
    <div class="container bckg">
      <div class="row align">
        <h3>Related Searches</h3>
      </div>
    </div>

    <div class="container pos2">

      <div class="row align gp2">
        {% for product in related %}

        <div class="col-1-of-6">
          <div class="card flx-drt wdth">
            <div class="card_img">
              <a href="{% url 'detail' product.slug %}"><img src="{{product.image_url.url}}" alt="slide1"></a>
            </div>
            <div class="card_priced pd-l">
              <div class="card_price-title">
                <h5>{{product.name}}</h5>
              </div>
              <p> A Lemon flavoured soft drink which contains Dextrin.</p>
              <div class="card_priced-r">
                <h5>3500+ Sold</h5>
                <div class="span">
                  4.0
                  <svg>
                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                  </svg>
                  <svg>
                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                  </svg>
                  <svg>
                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                  </svg>
                  <svg>
                    <use xlink:href="/static/img/sprite7.svg#star-regular"></use>
                  </svg>
                </div>
              </div>
              <span class="algn">${{ product.price|floatformat:2 }}</span>
              <small style="display:flex">
                <p style="padding-right:0.5rem; text-decoration: line-through; "> $2 </p>
                <p>(-15%)</p>

              </small>
              <div class="card_priced-cart">

                <a class="btn-w" href="#">
                  Add to Cart
                </a>
                <a class="btn-bc" href="#">
                  Buy now
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
    </div>
  </section>
</main>
{% endblock %}