<!DOCTYPE html>
<html lang="en">
    {% extends 'storeapp/base.html' %} {% block content %}


<main class="mgn">
    <div class="acct">
        <ul class="acct_my">
            <li>
                <a href="{% url 'dashboard' %}"> <svg>
                        <use xlink:href="/static/img/sprite2.svg#user-heart"></use>
                    </svg>
                    My GBS Account
                </a>
            </li>
            <li>
                <a href="{% url 'order' %}">
                    <svg>
                        <use xlink:href="/static/img/sprite.svg#shopping-cart"></use>
                    </svg>
                    Order
                </a>
            </li>
            <li>
                <a href="{% url 'saveitems' %}">
                    <svg>
                        <use xlink:href="/static/img/sprite2.svg#heart"></use>
                    </svg>Saved Items
                </a>
            </li>
            <hr style="border:1px solid #cacaca; width:100%;">
            <li>

                <a href="#">LOGOUT</a>
            </li>
        </ul>
        <div class="acct_over">

            <div class="acct_over-hd">
                <h3>Ordered Items</h3>
            </div>


            {% for order in orders %}
            {% for item in order.items.all %}
            <div class="acct_over-prd">
                <div class="acct_over-ord">

                    <img src="{{item.product.image.url}}" alt="product image">

                </div>
                <div class="acct_over-ord-dlt">
                    <p>{{item.product.name}}</p>
                    <!-- <p>Order &nbsp &nbsp{{order.order_key }}</p> -->
                    <p>Delivered</p>
                    <br>
                    <p>{{ order.created }}</p>




                </div>

                <div class="acct_over-ord-rmv">
                    <a href="#" class="btn btn-b">See Details</a>
                    <div class="">
                        <span>Amount paid</span>
                        <span>${{ order.total_paid }}</span>

                    </div>

                </div>

            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}




</html>